<ul>
  <!-- index, even, odd, first, last -->
  <li *ngFor="let video of videos" (click)="videoClicked(video)">
    <app-video-thumbnail
      [class.selected]="selectedVideo?.id === video.id"
      [video]="video"
    ></app-video-thumbnail>
  </li>
</ul>
