<app-video-list
  (videoSelected)="chooseVideo($event)"
  [selectedVideo]="(selectedVideo | async) ?? undefined"
  [videos]="(videoList | async) ?? []"
></app-video-list>
<app-video-player
  [video]="(selectedVideo | async) ?? undefined"
></app-video-player>
<app-stat-filters></app-stat-filters>
