/* You can add global styles to this file, and also import other style files */

app-video-thumbnail {
  display: block;
  padding: 10px;
  border: 2px solid rgb(44, 168, 168);

  img {
    width: 300px;
  }

  &.selected {
    border: none;
    background-color: rgb(44, 168, 168);
    color: white;
  }
}
